{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Barge Trader</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>

        <header>
            <!-- Section: Navbar -->
            
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img src="{% static 'bargetraderlogo.png' %}" alt="Logo" width="100" height="100" class="d-inline-block align-middle">
                    Contango Trader Version 1.0
                  </a>
                  <!-- Section: Help Section -->
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#" id="helpLink" data-bs-toggle="popover" title="Help">Help Guide</a>

                    </li>
                </div>
              </nav>
        </header>

        <hr>

        <!-- Section: Game Information -->
        <div class="game-information">
          <h2 class="ms-3"> Time Remaining: <span id="countdown-timer">03:00</span> | Initial Price: $80/bbl  </h2>
        </div>
        <hr>
        <!-- Secton: Game Activities -->
        <div class="container">
          <div class="row">
            <!-- Left Column-->
            <div class="col-md-6">
              <div class="row">
                <!-- Bid Offer Form-->
                <div class="col-12 border py-4">
                    <div class="bids-offers">
                      <h3>Place Your Bids and Offers</h3>
                      <!-- <p class="lead">Placeholder</p> -->
                      
                      <form id="bid-offer-form" method="post">
                              {% csrf_token %}
                              {{ form }}
                              <button type="submit">Submit</button>
                      </form>
                      
                    </div>
                </div>
                <!-- Trading Window -->
                <div class="col-12 border py-4 trading-window">
                  <div class="auction-status">
                    <table id="trading-table">
                      <thead>
                        <tr>
                            <th class="player-name">Player Name</th>
                            <th >Action</th>
                            <th class="bid">Bid</th>
                            <th >Action</th>
                            <th class="offer">Offer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Player rows will go here -->
                      </tbody>
                    </table>
        
                  </div>
                </div>
              </div>
            </div>
              <!-- News Reel -->
              <div class="col-md-6 border py-4 news-reel-container">
                <!-- News reel should be ol list in bullet point-->
                <h3>News Reel</h3>
                <ol>

                </ol>
              </div>
            </div>
          </div>
          <hr>
        <!-- Section: Trade Log -->
        <div class="col-md-12 border py-4 ms-3 trade-log">
          
          <h3 class="ms-2">Trade Log</h3>
          <ol>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quibusdam?</li>
            <li>Sed autem vel perspiciatis modi praesentium iure rerum tenetur perferendis!</li>
            <li>Incidunt, facilis vel ab et vitae minima sed voluptas illo.</li>
            <li>Ipsa ad deserunt sunt facere sequi ducimus, dolore porro natus.</li>
            <li>Dolor, nam hic necessitatibus suscipit odio officia dignissimos blanditiis deleniti?</li>
            <li>Porro culpa enim deleniti. Aperiam quaerat officiis ab est ad.</li>
            <li>Saepe repellendus dolorum reiciendis sunt eos accusamus dolore, unde facilis!</li>
            <li>Excepturi magnam a sapiente laudantium corporis iste quam doloremque pariatur.</li>
            <li>Explicabo in quam vel, maiores veniam quod minima quis odio!</li>
            <li>Quia veritatis molestiae soluta error aliquam dolorum delectus aperiam voluptatibus!</li>
            <li>Nemo magnam eius excepturi ex similique. Nemo vitae impedit consequatur.</li>
            <li>Repudiandae inventore a iure! Reprehenderit molestiae eveniet consequatur perferendis quisquam!</li>
          </ol>
        </div>
        <hr>
    
    <!-- Section: Footer Section -->
    <footer class="bg-dark text-center text-lg-start">
      
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p class="text-light">© 2023 Contango Trader Version 1.0</p>
      </div>
      
    </footer>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'game.js' %}"></script>


    </body>
</html>

